/********************* TAG SELECTORS *****************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  color: #2D767F;
  /* alinha o texto em toda a pagina */
}

/*
margin:
- 4 valores / 1ª - topo 2ª - direita 3ª - inferior 4ª - Esquerda
- 2 Valores / 1ª - topo e inferior 2ª - esquerda e direita
- 3 Valores / 1ª - topo 2ª - Esquerda e direita 3ª-inferior
- se for criado um bloco com "width", será necessário rever as margens */
h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #2D767F;
  line-height: 2
    /*  100% são 16px, para ter 90, (90*100)/16 =562.5%
   16px = 100€ = 1em
   90px/16px = 5,625em
   rem = root- o mais aconselhado a usar
    */
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #1E6262;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #2D767F;
}

/********************* SUDO SELECTORS *****************/
/********************* CLASS SELECTORS *****************/
.top-container {
  background-color: #ECFFFB;
  padding-top: 100px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 450px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 450px;
  bottom: 300px;
}

.middle-container {
  background-color: #ECFFFB;
}

.eu {
  margin-top: 50px;
}

.bottom-container {
  background-color: #ECFFFB;
}

.super {
  text-decoration: underline;
}

.supervisor {
  width: 50%;
  margin: 50px auto 50px auto;
  line-height: 2;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.boneco {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.lift {
  width: 25%;
  float: right;
  margin-left: 30px;
}

/********************* ID SELECTORS *****************/
