/********************* TAG SELECTORS *****************/
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  /* alinha o texto em toda a pagina */
}

hr {
  border: dotted #EAF6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

/*
margin:
- 4 valores / 1ª - topo 2ª - direita 3ª - inferior 4ª - Esquerda
- 2 Valores / 1ª - topo e inferior 2ª - esquerda e direita
- 3 Valores / 1ª - topo 2ª - Esquerda e direita 3ª-inferior
- se for criado um bloco com "width", será necessário rever as margens */
h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #2D767F;
  line-height: 2
    /*  100% são 16px, para ter 90, (90*100)/16 =562.5%
   16px = 100€ = 1em
   90px/16px = 5,625em
   rem = root- o mais aconselhado a usar
    */
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}

a:hover {
  color: #eaf6f6;
}

/********************* SUDO SELECTORS *****************/
/********************* CLASS SELECTORS *****************/
.top-container {
  background-color: #ECFFFB;
  padding-top: 100px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.middle-container {
  margin: 100px 0;
}

.eu {
  margin-top: 50px;
}

.supervisor {
  width: 30%;
  margin: auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.super {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.boneco {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.lift {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.contact-description {
  width: 40%;
  margin: 40px auto 60px
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #30e3cb);
  background-image: -moz-linear-gradient(top, #30e3cb, #30e3cb);
  background-image: -ms-linear-gradient(top, #30e3cb, #30e3cb);
  background-image: -o-linear-gradient(top, #30e3cb, #30e3cb);
  background-image: linear-gradient(to bottom, #30e3cb, #30e3cb);
  text-decoration: none;
}

.copyright {
color: #eaf6f6;
font-size: 0.75rem;
padding: 20px 0;
}

.facebook {
position: absolute;
  width: 10%;
}

/********************* ID SELECTORS *****************/
